<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hackpoly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.csupomona.hackpoly.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.csupomona.hackpoly.ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.csupomona.hackpoly.ComposeActivity"
            android:label="@string/title_activity_compose" >
        </activity>
        <activity
            android:name="com.csupomona.hackpoly.DiscountActivity"
            android:label="@string/title_activity_discount" >
        </activity>
        <activity
            android:name="com.example.hackpoly.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>
